@model PaperMID.BO.PromocionesBO

@{
    ViewBag.Title = "Promociones";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}
<section class="content-header">
    <h1>
        Promociones
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos</h3>
                </div>
                @using (Ajax.BeginForm("Agg_Promocion", "Promociones", new AjaxOptions { HttpMethod = "POST" }))
                {
                    @Html.AntiForgeryToken()

                    <form role="form">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Nombre Promoción</label>
                                        <input type="text" class="form-control" name="NombrePromo" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Proveedor</label>
                                        @Html.DropDownList("IdProve", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descripcion Promoción</label>
                                        <textarea class="form-control" placeholder="Escribe aquí la descripción de la promoción" rows="5" style="width: 100%; height: 87px;" name="DescripcionPromo"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>Fecha Inicio De La Promoción</label>
                                        <input class="datepicker form-control" type="text" name="FechaInicioPromo" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>Fecha Final De La Promoción</label>
                                        <input class="datepicker form-control" type="text" name="FechaFinPromo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Guardar</button>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>
</section>
@{ Html.RenderAction("ListarPromociones", "Promociones");}