@model PaperMID.BO.PaisBO

@{
    ViewBag.Title = "ActualizarPais";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!--Inicio Contenido-->
                <div class="header">
                    <h2 class="title">País</h2>
                </div>
                <div class="content">
                    <!--Contenido Formulario-->
                    @using (Ajax.BeginForm("ActuaDatosPais", "Pais", new AjaxOptions { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()

                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Código</label>
                                                <input type="hidden" name="IdPais" value="@Model.IdPais" /><!--Input oculto/Sirve para recuperar el ID-->
                                                <input type="text" class="form-control" disabled value="@Model.IdPais" /><!--Disable / no manda datos a ActionResult-->
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Nombre del Pais</label>
                                                <input type="text" class="form-control" name="NombrePais" value="@Model.NombrePais" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="=row" style="padding:0,20px;">
                                <div class="col-md-12">
                                    <!--col-md-10 col-md-offset-1-->
                                    <button type="submit" class="btn btn-info btn-fill btn-block">Guardar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    }

                </div><!--Contenido Formulario-->
            </div><!--Fin Contenido-->
        </div>
    </div>
</div>

