@model PaperMID.BO.ProductoBO

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}
<div class="content">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            @using (Ajax.BeginForm("Agregar_Producto", "Producto", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-11">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Productos</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div style="border: 4px solid">

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Código</label>
                                            <input type="text" class="form-control" name="IdProducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Nombre Producto</label>
                                            <input type="text" class="form-control" name="NombreProd" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label>Descripcion del Producto</label>
                                            <textarea class="form-control" placeholder="Escribe aquí la descripción del producto" rows="5" style="width: 100%; height: 87px;" name="DescripcionProd"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label>Precio Producto</label>
                                                    <input type="text" class="form-control" name="PrecioProd" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label>Descuento Producto</label>
                                                    <input type="text" class="form-control" name="DescuentoProd" />
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                                    @Html.DropDownList("IdProveedor1", null, htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <label>Cantidad Disponible</label>
                                                        <input type="text" class="form-control" name="CantidadDisponibleProd" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <label>Cantidad Mínima</label>
                                                        <input type="text" class="form-control" name="CantidadMinimaProd" />
                                                    </div>
                                                </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                                    @Html.DropDownList("IdTipoProducto1", null, htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-11" style="height:270px">
                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Seleccionar Imagen</button>

                                            <div class="image-upload-wrap">
                                                <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="ImagenProducto" />
                                                <div class="drag-text">
                                                    <h3>Arrastre una imagen</h3>
                                                </div>
                                            </div>
                                            <div class="file-upload-content">
                                                <div class="col-md-7">
                                                    <img class="file-upload-image" src="#" alt="your image" style="height:170px; width:170px;" />
                                                    <br />
                                                    <p style="color:black"><span class="image-title">Uploaded Image</span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <center>
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <div class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload()" class="remove-image">Remover </button>
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="=row">
                                    <button type="submit" class="btn btn-info btn-fill pull-right btn-round">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    @{ Html.RenderAction("List_Productos", "Producto");}
</div>

<style>
        .file-upload {
      background-color: #fff;
      width: 100%; /*Modificar para adaptar al tamaño*/
      margin: 0 auto;
      padding: 20px;
    }

    .file-upload-btn {
      width: 100%;
      margin: 0;
      color: #fff;
      background: #996ADB; /**/
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid  #773DCF;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .file-upload-btn:hover {
      background: #773DCF; /**/
      color: #773DCF;
      transition: all .2s ease;
      cursor: pointer;
    }

    .file-upload-btn:active {
      border: 0;
      transition: all .2s ease;
    }

    .file-upload-content {
      display: none;
      text-align: center;
    }

    .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }

    .image-upload-wrap {
      margin-top: 20px;
      border: 4px dashed #773DCF; /**/
      position: relative;
    }

    .image-dropping,
    .image-upload-wrap:hover {
      background-color: #996ADB;/**/
      border: 4px dashed #773DCF;
    }

    .image-title-wrap {
      padding: 0 15px 15px 15px;
      color: #222;
    }

    .drag-text {
      text-align: center;
    }

    .drag-text h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: #773DCF;
      padding: 60px 0;
    }

    .file-upload-image {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      padding: 20px;
    }

    .remove-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: #996ADB;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #773DCF;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .remove-image:hover {
      background: #996ADB;
      color: #773DCF;
      transition: all .2s ease;
      cursor: pointer;
    }

    .remove-image:active {
      border: 0;
      transition: all .2s ease;
    }
    </style>@*CSS para la Preview de la imagen*@

<script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });

    </script>@*Script para la Preview de la imagen*@